<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/mycss/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <h1 class="header__headline">
            <a href="/">Bloggie</a>
          </h1>
          <nav class="header__navbar navbar">
            <li class="navbar__list"><a href="/">Home</a></li>
            <li class="navbar__list"><a href="/add">Add</a></li>
          </nav>
        </div>
      </div>
    </header>
    <main class="container main__container">
      <div class="main__inner">
        <form class="blog-details__container container">
          <div class="main__blog-details">
            <label class="input-label" for="header">Type header: </label>
            <input class="input" type="text" name="header" id="header" />
          </div>

          <div class="main__blog-details">
            <label class="input-label" for="body">Type body: </label>
            <textarea id="body" rows="10" name="body"></textarea>
          </div>

          <div class="main__blog-details">
            <label class="input-label" for="description"
              >Type description:
            </label>
            <input
              class="input"
              type="text"
              name="description"
              id="description"
            />
          </div>

          <div class="btns-container">
            <input class="btn btn__submit" th:data-id="${id}" type="submit" value="Submit" />
            <input class="btn btn__delete" type="submit" value="Delete" />
          </div>
        </form>
      </div>
    </main>
    <script>
      const editBtn = document.querySelector(".btn__submit");
      const deleteBtn = document.querySelector(".btn__delete");
      const blogId = editBtn.dataset.id;

      console.log(blogId);

      const form = document.querySelector("form");
      fetch(`/${blogId}/edit`)
        .then((res) => res.json())
        .then((blog) => {
          console.log(blog);

          form.header.value = blog.header;
          form.body.value = blog.body;
          form.description.value = blog.description;
        });

      editBtn.addEventListener("click", async (e) => {
        e.preventDefault();

        const header = form.header.value;
        const body = form.body.value;
        const description = form.description.value;

        const blog = { header, body, description };

        try {
          const res = await fetch(`/${blogId}/edit/`, {
            method: "PUT",
            body: JSON.stringify(blog),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();

          if (data[0] === "success") {
            location.assign("/");
          }
        } catch (err) {
          console.log(err);
        }
      });
      deleteBtn.addEventListener("click", (e) => {
        e.preventDefault();
        fetch(`${blogId}/delete`, {
          method: "DELETE",
        })
          .then((res) => res.json())
          .then((err) => {
            if (err[0] === "success") {
              location.assign("/");
            }
          });
      });
    </script>
  </body>
</html>
