<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="styles.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <h1 class="header__headline">
            <a href="/">Bloggie</a>
          </h1>
          <nav class="header__navbar navbar">
            <li class="navbar__list"><a href="/">Home</a></li>
            <li class="navbar__list"><a href="/add">Add</a></li>
          </nav>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <div class="main__blogs">
          <div class="blog-info">
            <a class="link">
              <div class="main__details-container">
                <div class="detail-text"><p>Header:</p></div>
                <div class="blog-header">Header1</div>
              </div>
              <div class="main__details-container">
                <div class="detail-text"><p>Description:</p></div>
                <div class="blog-description">Description1</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    let blogBox = document.querySelector(".blog-info");
    let blogsContainer = document.querySelector(".main__blogs");

    fetch("/get/blogs")
      .then((res) => res.json())
      .then((data) => {
        //get data and display it
        for (let blog of data) {
          let newBlogBox = blogBox.cloneNode(true);
          newBlogBox.querySelector(".blog-header").textContent = blog.header;
          newBlogBox.querySelector(".blog-description").textContent = blog.description;
          newBlogBox.style.display = "block";
          newBlogBox.querySelector(".link").href = `/${blog.id}`;

          blogsContainer.appendChild(newBlogBox);
        }
      });
  </script>
</html>
